.caroussel {
  position: relative;
  max-width: 100%;
  overflow: hidden; /* Assure-toi que la propriété overflow est définie */

  .caroussel__images {
    display: flex;
    position: relative;
    overflow-x: auto; /* Ajoute la propriété overflow-x pour activer le défilement horizontal */
    gap: 10px;
    .carousel-image {
      flex: 0 0 auto; /* Utilise flex: 0 0 auto pour empêcher les images de se rétrécir */
    }
  }

  .caroussel__prev,
  .caroussel__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px; /* Ajuste le padding selon tes préférences */
    cursor: pointer;
    z-index: 1;
  }

  .caroussel__prev {
    left: 0; /* Positionne le bouton précédent sur le bord gauche */
  }

  .caroussel__next {
    right: 0; /* Positionne le bouton suivant sur le bord droit */
  }

  .caroussel__prev:hover,
  .caroussel__next:hover {
    background-color: transparent;
  }

  .caroussel__enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    @include smart {
      width: 80%;
    }
    height: 60%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .caroussel__enlarged img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }

  @media (max-width: 600px) {
    .caroussel__prev,
    .caroussel__next {
      padding: 5px; /* Réduire encore la taille du padding pour les écrans plus petits */
    }
  }
}
