.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to right top, #845ec2, #ff6f91, #ff9671, #b1bedb,
    #ffc75f, #41dfff, #f9f871);

  &__home {
    display: flex;
    a {
      text-decoration: none;
      color: rgb(68, 67, 67);
      font-weight: 600;
    }
  }
  
  &__logo {
    width: 70px;
    height: 60px;

    @media (max-width: 500px) {
      width: 60px;
      height: 50px;
    }}

  &__title {
    display: flex;
    align-items: center;
  }

  &__tabs {
    display: flex;
  }

  &__list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    align-items: center;

    @media (max-width: 600px) {
      gap: inherit;
    }
  
    

    .navbar__item {
      a {
        text-decoration: none;
        color: rgb(68, 67, 67);
        font-weight: 600;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease-in-out; // Ajout de la transition
        &:hover {
          transform: scale(1.1);
        }

        .navbar__icon {
          display: none;
          margin-right: 0.5rem;
          align-items: center;
        }

        span {
          display: block;
        }

        &:hover {
          color: #ec3232; // Couleur du texte au survol 
        }
      }

      &:nth-last-child(-n + 2) {
        a {
          @media (min-width: 525px) {
            display: flex;
            padding: 0.5rem 0.5rem;
            border-radius: 10px;
          }
        }
      }

      &.signin,
      &.signout {
        @media (min-width: 525px) {
          display: flex;
          border: 1px solid rgb(53, 51, 51);
          padding: 0.5rem 0.5rem;
          border-radius: 10px;
          transition: transform 0.3s ease-in-out; // Ajout de la transition
          &:hover {
            transform: scale(1.1);
          }
        }
        @media (min-width: 600px) and (max-width: 768px){
          font-size: 12px;
          background-color: #41dfff;
        }
      }
    }
  }

  @media (max-width: 525px) {
    .navbar__list
    .navbar__item a
    .navbar__icon {
      display: block;
    }

    .navbar__list
    .navbar__item a span {
      display: none;
    }
  }
}
