.navbar {
  @include flexCentered;
  justify-content: space-between;


  padding: 1rem;
  background-image: $linear;

  &__logo {
    width: 70px;
    height: 60px;

    @media (max-width: 500px) {
      width: 60px;
      height: 50px;
    }
  }

  &__tabs {
    display: flex;
  }

  &__list {
    @include flexList;
    gap: 3rem;
    align-items: center;

    @media (max-width: 600px) {
      gap: 1rem;
    }

    .navbar__item {
      a {
        text-decoration: none;
        color: rgb(68, 67, 67);
        font-weight: 600;
        align-items: center;

        &:hover {
          transform: scale(1.1);
        }

        .navbar__icon {
          display: none;
          margin-right: 0.5rem;
          align-items: center;
        }

        &:hover {
          color: #ec3232; // Couleur du texte au survol 
        }
      }

      &:nth-last-child(-n + 2) {
        a {
          @media (min-width: 525px) {
            display: flex;
            padding: 0.5rem 0.5rem;
            border-radius: 10px;
          }
        }
      }

      &.signin,
      &.signout {
        @media (min-width: 525px) {
          display: flex;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 0.8rem 1rem;
          border-radius: 8px;
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }

        }

        @media (min-width: 600px) and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 525px) {
    .navbar__list .navbar__item a .navbar__icon {
      display: block;
    }

    .navbar__list .navbar__item a span {
      display: none;
    }
  }
}