body {
  font-family: Lato, Montserrat, Helvetica, sans-serif;
  background: #f4f4f4;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


